name: CI Pipeline para Pull-Requests na branch MAIN

on:
  pull_request:
    branches:
      - main

jobs:
  lint:
    name: Executa ESLint para checar estilo de codificação
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repositorio
        uses: actions/checkout@v4

      - name: Instala Node.js versão 20
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install dependencies
        run: npm ci

      - name: Run ESLint
        run: npm run lint

  test:
    name: Executa testes com cobertura
    runs-on: ubuntu-latest
    needs: lint
    steps:
      - name: Checkout repositorio
        uses: actions/checkout@v4

      - name: Instala Node.js versão 20
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Instala dependencias
        run: npm install

      - name: Requer 90% de cobertura dos testes na branch MAIN
        run: npm run test -- --coverage